<div class="container">
  <h3>Detail Room</h3>


<div class="card">
  <div class="card-body">
    <div class="form-group">
      <label for="name">name:</label>
      {{room.name}}
    </div>

    <div class="form-group">
      <label for="name">date:</label>
      {{room.date}}
    </div>

    <div class="form-group">
      <label for="name">startHour</label>
      {{room.startHour}}
    </div>

    <div class="form-group">
      <label for="name">endHour</label>
      {{room.endHour}}
    </div>
</div>
</div>

<button class="btn btn-primary mt-3" routerLink="/rooms">Back to Room List</button>
